for i in 1..5
  .ma-{i}
    margin n * i
  .ml-{i}
    margin-left n * i
  .mr-{i}
    margin-right n * i
  .mt-{i}
    margin-top n * i
  .mb-{i}
    margin-bottom n * i
  .mx-{i}
    margin-left n * i
    margin-right n * i
  .my-{i}
    margin-top n * i
    margin-bottom n * i
  .pa-{i}
    padding n * i
  .pl-{i}
    padding-left n * i
  .pr-{i}
    padding-right n * i
  .pt-{i}
    padding-top n * i
  .pb-{i}
    padding-bottom n * i
  .px-{i}
    padding-left n * i
    padding-right n * i
  .py-{i}
    padding-top n * i
    padding-bottom n * i

.unselectable
  user-select: none
