n := 10px;

lightvars()
  --nn-primary #fadb14
  --nn-primary-1 #feffe6
  --nn-primary-2 #ffffb8
  --nn-primary-3 #fffb8f
  --nn-primary-4 #fff566
  --nn-primary-5 #ffec3d
  --nn-primary-6 #fadb14
  --nn-primary-7 #d4b106
  --nn-primary-8 #ad8b00
  --nn-primary-9 #876800
  --nn-primary-10 #614700

  --nn-BG-0: #ededed;
  --nn-BG-1: #f7f7f7;
  --nn-BG-2: #fff;
  --nn-BG-3: #f7f7f7;
  --nn-BG-4: #4c4c4c;
  --nn-BG-5: #fff;
  --nn-FG-0: rgba(0, 0, 0, 0.9);
  --nn-FG-HALF: rgba(0, 0, 0, 0.9);
  --nn-FG-1: rgba(0, 0, 0, 0.5);
  --nn-FG-2: rgba(0, 0, 0, 0.3);
  --nn-FG-3: rgba(0, 0, 0, 0.1);
  --nn-RED: #ff4d4f;
  --nn-ORANGE: #fa9d3b;
  --nn-YELLOW: #ffc300;
  --nn-GREEN: #91d300;
  --nn-LIGHTGREEN: #95ec69;
  --nn-BRAND: #07c160;
  --nn-BLUE: #10aeff;
  --nn-INDIGO: #1485ee;
  --nn-PURPLE: #6467f0;
  --nn-WHITE: #fff;
  --nn-LINK: #576b95;
  --nn-TEXTGREEN: #06ae56;
  --nn-FG: black;
  --nn-BG: white;
  --nn-TAG-TEXT-ORANGE: #fa9d3b;
  --nn-TAG-BACKGROUND-ORANGE: rgba(250, 157, 59, 0.1);
  --nn-TAG-TEXT-GREEN: #06ae56;
  --nn-TAG-BACKGROUND-GREEN: rgba(6, 174, 86, 0.1);
  --nn-TAG-TEXT-BLUE: #10aeff;
  --nn-TAG-BACKGROUND-BLUE: rgba(16, 174, 255, 0.1);
  --nn-TAG-TEXT-BLACK: rgba(0, 0, 0, 0.5);
  --nn-TAG-BACKGROUND-BLACK: rgba(0, 0, 0, 0.05);

darkvars()
  --nn-primary #fadb14
  --nn-primary-1 #feffe6
  --nn-primary-2 #ffffb8
  --nn-primary-3 #fffb8f
  --nn-primary-4 #fff566
  --nn-primary-5 #ffec3d
  --nn-primary-6 #fadb14
  --nn-primary-7 #d4b106
  --nn-primary-8 #ad8b00
  --nn-primary-9 #876800
  --nn-primary-10 #614700

  --nn-BG-0: #191919;
  --nn-BG-1: #1f1f1f;
  --nn-BG-2: #232323;
  --nn-BG-3: #2f2f2f;
  --nn-BG-4: #606060;
  --nn-BG-5: #2c2c2c;
  --nn-FG-0: rgba(255, 255, 255, 0.8);
  --nn-FG-HALF: rgba(255, 255, 255, 0.6);
  --nn-FG-1: rgba(255, 255, 255, 0.5);
  --nn-FG-2: rgba(255, 255, 255, 0.3);
  --nn-FG-3: rgba(255, 255, 255, 0.05);
  --nn-RED: #ff4d4f;
  --nn-ORANGE: #c87d2f;
  --nn-YELLOW: #cc9c00;
  --nn-GREEN: #74a800;
  --nn-LIGHTGREEN: #28b561;
  --nn-BRAND: #07c160;
  --nn-BLUE: #10aeff;
  --nn-INDIGO: #1196ff;
  --nn-PURPLE: #8183ff;
  --nn-WHITE: rgba(255, 255, 255, 0.8);
  --nn-LINK: #7d90a9;
  --nn-TEXTGREEN: #259c5c;
  --nn-FG: white;
  --nn-BG: black;
  --nn-TAG-TEXT-ORANGE: rgba(250, 157, 59, 0.6);
  --nn-TAG-BACKGROUND-ORANGE: rgba(250, 157, 59, 0.1);
  --nn-TAG-TEXT-GREEN: rgba(6, 174, 86, 0.6);
  --nn-TAG-BACKGROUND-GREEN: rgba(6, 174, 86, 0.1);
  --nn-TAG-TEXT-BLUE: rgba(16, 174, 255, 0.6);
  --nn-TAG-BACKGROUND-BLUE: rgba(16, 174, 255, 0.1);
  --nn-TAG-TEXT-BLACK: rgba(255, 255, 255, 0.5);
  --nn-TAG-BACKGROUND-BLACK: rgba(255, 255, 255, 0.05);
